@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    background-color: #ffffff;
    color: #585656;

}

h1 {
    color: #353535;

    
}

h2 {
    color: rgb(44, 44, 43);
}

p {
    font-size: 1.1rem;
}

#maxvalue {
    color: green;
    font-weight: 700;
}

#minvalue {
    color: red;
    font-weight: 700;
}